:root {
    /* Background */
    --primary-background: #fffff6;
    --secondary-background: #CCCCCCFF;
    --tertiary-background: #0000003F;
    /* Element Colors */
    --primary-text-color: #1c365399;
    --secondary-text-color: #252833;
    --tertiary-text-color: #FFFFFFFF;
    --link-text-color: #337ab7;
    --primary-btn-color: #d4af37;
    --secondary-btn-color: #cba135;
}

body {
    background-color: var(--primary-background);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color);
    -webkit-text-size-adjust: 100%
}
h3 {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 29px;
}

a {
    color: var(--link-text-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table, th, td {
    width: 80%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
/*    border: 1px solid;*/
    font-weight: 400;
    color: var(--primary-text-color);
    -webkit-text-size-adjust: 100%;
    text-align: center;
}

.input-common {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    line-height: normal;
    color: var(--secondary-text-color);
}
.input-field {
    display: block;
    width: 100%;
    border: 1px solid var(--secondary-background);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 1px 1px 2px var(--tertiary-background);
}
.input-optional {
    color: var(--primary-text-color);
}

.btn {
    color: var(--primary-btn-color);
    outline: 1px solid var(--primary-btn-color);
    margin: 8px;
    border-radius: 50%;
}
.btn:hover {
    color: var(--secondary-btn-color);
    outline: 1px solid var(--secondary-btn-color);
    text-decoration: none;
}
.btn:active {
    color: var(--secondary-btn-color);
    outline: 1px solid var(--secondary-btn-color);
}

.btn-submit {
    padding: 14px 20px;
    margin: 2px 0;
    border: 1px solid var(--secondary-background);
    border-radius: 8px;
    color: var(--tertiary-text-color);
    background-color: var(--primary-btn-color);
    font-size: 18px;
    cursor: pointer;
}
.btn-submit:hover {
    color: var(--tertiary-text-color);
    background-color: var(--secondary-btn-color);
}
.btn-submit:active {
    color: var(--tertiary-text-color);
}

.hero-content > h1 {
    padding-top: 2%;
    font-family: "Windsong", serif;
    font-weight: 100;
    font-size: 56px;
    color: var(--secondary-text-color);
}
.hero-content > img {
    width: 55%;
    margin-top: 10%;
    margin-bottom: 0%;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.nav {
    display:inline-block;
    height:45px;
    width:100%;
}

.nav-right {
    margin-right: 15%;
    display:inline-block;
    float:right;
}

.section-padding {
    padding: 10px 0
}
.section-border{
    border-bottom: 1px solid #e6e9ea
}

#countdown {
    font-family: "Whisper", sans-serif;
    font-size: 26px;
}
