:root {
    /* Backgrounds */
    --primary-background: #fffff6;
    --secondary-background: #CCCCCCFF;
    --tertiary-background: #0000003F;
    /* Colors */
    --primary-text-color: #1C365399;
    --secondary-text-color: #3d4351;
    --tertiary-text-color: #FFFFFFFF;
    --primary-btn-color: #3abd5e;
    --secondary-btn-color: #239743;
}

body {
    background-color: var(--primary-background);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color);
    -webkit-text-size-adjust: 100%
}
h3 {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 29px;
}

table, th, td {
    width: 80%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
/*    border: 1px solid;*/
    font-weight: 400;
    color: var(--primary-text-color);
    -webkit-text-size-adjust: 100%
}

form, input {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    color: var(--secondary-text-color);
}
button[type=submit], input[type=text], input[type=email], input[type=number], select {
    display: block;
    width: 100%;
    border: 1px solid var(--secondary-background);
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    box-shadow: 1px 1px 2px var(--tertiary-background);
}
button[type=submit] {
    padding: 14px 20px;
    margin: 8px 0;
    color: var(--tertiary-text-color);
    background-color: var(--primary-btn-color);
}
button[type=submit]:hover {
    background-color: var(--secondary-btn-color);
}
/*input[type=text], input[type=email], input[type=number], select {*/
/*    width: 100%;*/
/*    padding: 12px 20px;*/
/*    margin: 4px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid var(--secondary-background);*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    display:block;*/
/*    vertical-align: top;*/
/*    -webkit-appearance: textfield;*/
/*}*/
/*button[type=submit] {*/
/*    width: 100%;*/
/*    background-color: var(--primary-btn-color);*/
/*    color: var(--tertiary-text-color);*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    cursor: pointer;*/
/*}*/


.btn {
    color: var(--primary-btn-color);
    outline: 1px solid var(--primary-btn-color);
    margin: 8px;
}

.hero-content > h1 {
    padding-top: 5%;
    font-family: "Windsong", serif;
    font-weight: 100;
    font-size: 56px;
    color: var(--secondary-text-color);
}
.hero-content > img {
    width: 55%;
    margin-bottom: 0%;
}